.gauntlet-container {
    position: absolute;
    height: 80px;
    width: 126px;
    background-color: gold;
    border-radius: 20px 0 0 20px;
    transform: rotate(10deg);
    top: calc(50% - 40px);
    left: calc(50% - 48px);
}

.thumb,
.knuckle {
    position: relative;
    width: 30px;
    height: 25px;
    background-color: gold;
    border-radius: 50%;
}

.thumb{
    top: -12px;
    right: -15px;
}

.knuckle {
    top: -23px;
    left: -7px;
}

.wrist {
    background-color: orange;
    height: 80px;
    width: 15px;
    position: relative;
    top: -50px;
    right: -100px;
}

.big-stone-container {
    position: relative;
    background-color: orange;
    height: 32px;
    width: 32px;
    top: -105px;
    right: -47px;
    border-radius: 50%
}

.big-stone-container .big-stone{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: gold;
    position: relative;
    top: 4px;
    left: 4px;
}

.stone-container {
    position: relative;
    height: 12px;
    width: 20px;
    border-radius: 35%;
    background-color: darkorange;
}

.stone{
    position: relative;
    height: 10px;
    width: 18px;
    border-radius: 35%;
    top: 1px;
    left: 1px;

}
.stone-1 {
    top: -115px;
    right: -10px;
}
.stone-1 .stone{
    background-color: red;
}
.stone-2{
    background-color: darkorange;
    top: -110px;
    right: -10px;
}

.stone-2 .stone {
    background-color: #FFDF00;
}

.stone-3{

    top: -156px;
    right: -10px;
}

.stone-3 .stone{
    background-color: blue;
}
.stone-4{
    top: -184px;
    right: -10px;
}
.stone-4 .stone{
    background-color: violet;
}
.stone-5{
    top: -215px;
    right: -20px;
}

.stone-5 .stone{
    background-color: green;
}